header, footer {
  background-color: #acd5f8;
  color: rgb(12, 0, 0);
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

aside {
  background-color: #a6deec;
  padding: 1rem;
  width: 250px;
}

.content {
  display: flex;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
  margin-left: 250px;
}

button {
  background-color: #ec6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}
